body{
    background-color: #0f172a;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: linear-gradient(to button, #0f172a, #1e293b);
    color: white;
    background-image: url("../image/img7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



.hero{
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url('https://via.placeholder.com/1200*800');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.hero-text h1 {
    font-size: 48px;
    margin-bottom: 15px;
}
.hero-text p {
    font-size: 18px;
    margin-bottom: 20px;
}
.hero-btn{
    background-color: #2563eb;
    padding: 12px 25px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
}
.hero-btn:hover {
    background-color:#1e40af;
    transform: scale(1.05);
}
.aa :hover{
    color: firebrick;
}
.vv{
    text-align: center;
}


.icons {
    margin-top: 15px;
    display: flex;
    gap: 15px;
    justify-content: center;
}
.icons i {
    font-size: 25px;
    margin: 0 10px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.icons i:hover{
    color: #00ffff;
    transform: scale(1.2);
}




.navbar{
    background-color: #111827;
    padding: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111827;
    padding: 15px 30px;
    color: white;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar a:hover{
    color: #2563eb;
}
.navbar a:hover{
    color: #60a5fa;
}

.navbar a {
    color: white;
}



html{
    scroll-behavior: smooth;
}

.cards-section{
    padding: 50px 0;
    margin-bottom: 100px;
}

.container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 50px;
}
.card{
    background-color: blueviolet;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 220px;
    height: 200px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    backdrop-filter: blur(10px);
    position: relative;
    z-index: 2;
}

.card:hover{
    transform: translateY(-10px);
}

/* .card:hover{ */
    /* background-color: yellowgreen;
    color:blueviolet ;
    padding: 2px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s,
    background-color 0.3s;
    transform: skewX(20deg); */
    /* height: 190px;
    width: 190px;
    background-color: tomato;
    margin-bottom: 10px;
    transform: rotate(-25deg);
    transition-property: width,height;
    transition: duration 5s; */
/* } */

.card_1:hover{
    transform: skewX(20deg);
    height: 50px;
    width: 50px;
    transform: rotate(-45deg);
    transition-property: width,height;
    transition-duration: 7s;
}


.card img {
    width: 200px;
    height: 200px;
    border-radius: 15%;
}
button{
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    background-color:blueviolet;
}
section{
    padding: 50px 20px;
    text-align: center;
}
.about-section, .service-section{
    background-color: #1e293b;
    border-radius: 15px;
    margin: 20px
}


.about-section {
    margin-top: 50px;
    padding: 30px 20px; 
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
}

.about-section{
    margin-top: 120px;
    padding: 20px 15px;
    position: relative;
    z-index: 1;
}

.about-section h2{
    margin-bottom: 10px;
}

.about-section p{
    margin: 5px o;
    line-height: 1.4;
}

h2{
    margin-bottom: 20px;
}
.card_x:hover{
    height: 220px;
    width: 220px;
    margin-bottom: 10px;
    transform: rotate(-35deg);
    transition-property: width,height;
    transition-duration: 2s;
}
.ll{
    color: #111827;
}

@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
        transform: translateY();
    }
}
.ew{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.qw{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.oo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
